# Cline Rules

## ロール定義

* あなたはエキスパートエンジニア兼 UI/UX デザイナーとして対応してください。
* コードには日本語で平易なコメントをつけ、ほかのエンジニアが読みやすいようにしてください。
* 特にそれぞれのFunctionにはその意図や役割を記載してください。
* 実装が未完の機能については、コメントでTODOを明記してください。
* 適宜Testを実装してください。また、Testを実行しやすいようにコーディングしてください。

## このプロジェクトについて

* このプロジェクトはの成果物は、Windows PCのローカルに保存され、ブラウザ上で実行されることを想定しています。
* Web上にデプロイすることは想定していません。
* 実行にあたり高度なツール（データベースなど）は使用することができません。
* そのため、状態を保存することはできません。
* 気軽に使用することができ、保守も簡単であることが求められます。

## その他
* プログラムの仕様書は`project_overview.md`に記載されています。
* 適宜現状に合うように`project_overview.md`を更新してください。
* 未来の作業のために記載しておいたほうがいい情報も、`project_overview.md`に記載してください。
* その他、不明な点があれば私（ユーザー）に確認してください。